@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;500;700;800&display=swap');

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Noto Sans Mono', monospace;
	vertical-align: baseline;
	background-color: rgb(230, 225, 219);
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	padding: 10px;
	margin-top: 10px;
	text-transform: uppercase;
	border-radius: 5px;
	color: white;
	font-weight: 700;
}
.action-buttons-add {
	border-color: rgb(118, 195, 118);
	background-color: rgb(118, 195, 118);
}
.action-buttons-add:hover {
	border-color: rgb(83, 216, 83);
	background-color: rgb(83, 216, 83);
}
.action-buttons-remove {
	border-color: rgb(228, 86, 86);
	background-color: rgb(228, 86, 86);
}
.action-buttons-remove:hover {
	border-color: rgb(241, 61, 61);
	background-color: rgb(241, 61, 61);
}
input {
	padding: 10px;
}
p {
	font-size: 20px;
	color: black;
	text-transform: capitalize;
}
img {
	width: 200px;
}
.title {
	width: 300px;
	margin: 10px;
}
input {
	width: 600px;
	padding: 15px;
	border-radius: 5px;
	text-align: center;
	text-transform: capitalize;
}

#pokemon-grid-container {
	max-width: 1090px;
	margin: 0 auto;
}
#pokemon-grid-item {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
	text-align: center;
	align-items: center;
}

.pokemon-name-image {
	background-color: white;
	position: relative;
	border-radius: 20px;
	margin: 5px;
	box-shadow: 5px 5px 15px -1px #000000;
	border: solid black;
	border-style: double;
}
.pokemon-name-image:hover {
	transform: scaleY(1.05);
}

.pokemon-name {
	font-weight: bold;
}
.paginate {
	display: flex;
}
.paginate a {
	background: #e2e2e2;
	padding: 8px 15px;
	margin: 2px;
	text-decoration: none;
}
.paginate a.current {
	background: #d5e6ff;
}
.paginate a:hover {
	cursor: pointer;
	background: #6194e0;
	color: #fff;
}
